apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: citary
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: citary-backend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3001
        envFrom:
        - configMapRef:
            name: citary-config
        - secretRef:
            name: citary-secret
        livenessProbe:
          httpGet:
            path: /health
            port: 3001
          initialDelaySeconds: 10
          periodSeconds: 180
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /health
            port: 3001
          initialDelaySeconds: 5
          periodSeconds: 60
          timeoutSeconds: 3
          failureThreshold: 3